.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: rgb(90, 65, 65);
  color: aliceblue;
  padding: 2rem;
  border-radius: 2rem;
}

.n-left {
  flex: 1;
  align-items: center;
  display: flex;
  /* gap: 2rem; */
}

.n-left>:nth-child(2) {
  margin-left: 5rem;
}

.n-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.n-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}


.n-button {
  height: 2rem;
  width: 1rem;
  flex: 2;
  gap: 2rem;
}
