.button {
  border-radius: 10px;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: rgb(255, 255, 255);
}

.button:hover {
  background: rgb(0, 0, 0);
  cursor: pointer;
  color: white;
  border: 2px solid var(--orange);
}
